body{ 
	font-family: 'Raleway', sans-serif;
 }

.header{
	margin-top: 10px;
}

.navbar-brand{
	height: 50px;
    width: 50px;
	background:url(logo-jc.png);
	background-size: contain;
    background-repeat: no-repeat; 
}

.navbar-collapse{
	justify-content: flex-end !important;
}

.navbar-nav > a{
	color: #092545 !important;
	position: relative;
  	text-decoration: none;
  	font-weight: 600 !important;
	margin-left: 70px !important;
}

.navbar-nav > a:hover{
	color: #092545 !important;

}

.navbar-nav > a:before{
	content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 20px;
  bottom: 0;
  left: 0;
  background-color: #f7106b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav > a:hover:before{
	  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.intro{
	font-size: 2.5em;
    font-weight: 700;
    margin: 60px 0 60px 0;
}

.aboutMe{
	margin: 30px 0 0 0;
	height: 350px;
}

hr{
    background: linear-gradient(to right, #ff5a23, #f7106b);
    height: 20px;
    width: 45% !important;
}

.aboutMe > .col-md-8{
	background-color: #fff;
	box-shadow:  0 0 5px 5px #545b6266, 20px 20px #092545;
}

.aboutMe > .col-md-4{
	align-items: center;
	align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.title > h1{
	display: flex;
    justify-content: flex-end;
    font-size: 7rem !important;
    color: #092545;
    line-height: 90px;
    font-weight: 600;
}

.projects{
	height: 350px;
}

.projects .col-md-8{
	align-items: center;
	align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.projects > .title > h1{
	justify-content: flex-start;
}

.projects hr{
	    width: 40% !important;
}