body{
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
 }

 h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
 }

/*Navigation*/

.navbar-nav{
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link{
    padding-right: 0!important;
    padding-left: 0!important;
    margin-left: 10px;
    margin-right: 10px;
}

.active{
    position: relative;
}

.active:after{
    bottom: 6px;
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    background: rgba(17, 17, 17, 1);
    -webkit-transition: width 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: width 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: width 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}


a.navbar-brand{
    letter-spacing: -0.03em;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

}

.nav-item{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

/*Hero Section*/

.intro{
    height: 400px;
    position: relative;
}

.intro .row{
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
}

#app{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 80px;
}

/*Projects section*/

.projects{
  background: black;
}












